body {

    background-color:palevioletred;
}
.leftNav{

}


.sectionOne,.sectionTwo{
    color:burlywood;
}
.sectionTwo::after{
    content: "The end.";
    color: aquamarine;
}

#mainBorder{
    border:groove;
}

p {

    color:white;
}